@import "./globalVariable.css";

.mainStyle{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionStyle{
  width: 100%;
  height: 75%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex-grow: 0;
  flex-basis: 800px;
  
  background-color: white;
}
.btnStyle{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40px;
  margin-bottom: 10px;

  border: none;

  color: white;

  cursor: pointer;

  font-size: var(--font-small);
}
.formstyle{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px 0;
}
.titleStyle{
  font-weight: var(--fontW-normal);
  color: var(--color-black);

  margin-bottom: 10px;
}
.inputStyle{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-e);
  color: var(--color-black);
}

.BGcolorBlue{
  background-color: var(--color-blue);
}
.BGcolorGreen{
  background-color: var(--color-green);
}

.telValidationTextStyle{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0 10px 0;
  font-size: var(--font-small);

  color: #595959;
}
.aLinkStyle{
  margin-bottom: 5px;
  font-size: var(--font-small);
}
.selectStyle{
  width: 100%;
  height: 37.5px;

  padding: 10px;
  margin-bottom: 10px;

  border:1px solid #EEEEEE;

  color: #595959;
}