/* reset */
body{
  margin: 0;
  padding: 0;
  background-color: #F3F3F3;
}
a{
  text-decoration-line: none;
  color: #595959;
}
h1{
  margin: 0;
}
/* /reset */
.header{
  box-sizing: border-box;
  width: 100%;
  background-color: #4285F4;
  padding: 10px 2%;
}

/* 메인 색상과 폰트는 전역변수로 저장이 가능 
태그들의 들어가는 기본 설정들 이렇게 두가지 파일이 추가, 탬플릿css로 공통으로 사용하게 되는 css 예-input 스타일은 전부 똑같기 때문에 이렇게 두가지 css 파일을 저장
헤더.Css또한 별도로 존재하는 것이 좋음*/

.headerLogo{
  font-size: 30px;
  color: white;
}



.formstyle{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px 0;
}


.btnStyle{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 320px;
  height: 40px;
  margin-bottom: 10px;

  border: none;

  color: white;

  cursor: pointer;

  font-size: 13px;
}
.loginBtn{
  background-color: #4285F4;
}
.signUpBtn{
  background-color: #01C246;
}


/* signUp */
.idInputDiv{
  display: flex;
  justify-content: space-between;
}
.idInputStyle{
  width: 230px;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid #EEEEEE;
  color: #595959;
}
.idValidationBtn{
  width: 75px;
  height: 37.5px;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}


.inputStyle{
  width: 35%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #EEEEEE;
  color: #595959;
}

.passwordValidationText{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0 10px 0;
  font-size: var(--font-small);

  color: #4285F4;
}

.departmentSelect{
  width: 320px;
  height: 37.5px;

  padding: 10px;
  margin-bottom: 10px;

  border:1px solid #EEEEEE;

  color: #595959;

}
.positionSelect{
  width: 320px;
  height: 37.5px;

  padding: 10px;
  margin-bottom: 10px;

  border:1px solid #EEEEEE;

  color: #595959;
}