@import "./globalVariable.css";

.headerStyle{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-black);
}

.mainStyle{
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.planSection{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  overflow: auto;
}

.planArticle{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;


}
/* 섹션 나누기, */

.planDiv{
  display: flex;
  justify-content: space-between;

  width: 50%;
}
.planEditSection{
  display: none;
  align-items: center;
}
.planEditBtnDiv{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.planEditInput{
  width: 150px;
  padding: 10px;
  border: 1px solid var(--color-e);
  color: var(--color-black);
}
.planTitle{
  display: flex;
  align-items: center;
  width: 33.3%;
}
.startTime{
  display: flex;
  align-items: center;
  width: 33.3%;
}
.endTime{
  display: flex;
  align-items: center;
  width: 33.3%;
}
.addPlanForm{
  width: 100%;

  padding: 3% 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid var(--color-black);
}
.setTimeSection{
  margin-bottom: 3%;
}
.addPlanSection{
  width: 40%;
  display: flex;
  justify-content: center;
}
.setStartTime{
  display: flex;
}
.setEndTime{
  display: flex;
}
.addPlanInput{
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-e);
  color: var(--color-black);
}
.btnStyle{
  width: 50px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 10px;
  border-radius: 10px;

  font-size: var(--font-small);

  border: none;

  color: var(--color-black);
  background-color: #cdcdcd;

  cursor: pointer;
}